/* font-family: 'Barlow', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Scheherazade New', serif; */

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.title {
    display: flex;
}

.header-logo {
    margin-right: 8px;
}

.title-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header-title {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 0;
}

.header-description {
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    margin: 0;
}

.sm-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.rss-email {
    display: flex;
    gap: 2px;
    margin-left: 8px;
}

.hr {
    background-image: url('../assets/hr-img.png');
    background-repeat: repeat;
    align-self: center;
    height: 10px;
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.chocolate-pizza {
    margin-bottom: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.blog-subhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    color: grey;
    font-size: 10px;
    margin-bottom: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.meta {
    margin-top: 0;
}

.pizza-img {
    margin-bottom: 15px;
}

.paragraph {
    font-family: 'Scheherazade New', serif;
    line-height: 1.25;
    color: grey;
    font-size: 20px;
    text-indent: 50px;
}

.recipe {
    height: 305px;
    font-family: 'Mali', cursive;
    background-image: url('../assets/list-bg.png');
}

.ingredients {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

.strikethrough {
    text-decoration: line-through;
}

li {
    list-style: none;
}

footer {
    height: 100px;
}
